<!DOCTYPE html>
<html>
  <head>
    <title>Edytuj wydatek</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>
  <body>
    <h1>Edytuj wydatek</h1>
    <form
      action="/edit/<%= expense.id %>"
      method="post"
      class="edit-expense-form"
    >
      <label for="category">Kategoria:</label>
      <input
        type="text"
        id="category"
        name="category"
        value="<%= expense.category %>"
        required
      /><br />
      <label for="amount">Kwota:</label>
      <input
        type="number"
        id="amount"
        name="amount"
        value="<%= expense.amount %>"
        required
      /><br />
      <label for="date">Data:</label>
      <input
        type="date"
        id="date"
        name="date"
        value="<%= expense.date %>"
        required
      /><br />
      <button type="submit" class="edit-expense-button">
        Aktualizuj wydatek
      </button>
    </form>
    <form action="/" method="get" class="edit-form">
      <button type="submit" id="returnToList" class="return-to-list">
        Powrót do listy
      </button>
    </form>
  </body>
</html>
